* {
    margin: 0;
    padding: 0;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(73, 158, 218);
    padding: 15px;
    justify-content: space-between;
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header nav ul{   
    list-style: none;
    display:flex ;
    margin-right: 2px;
    gap: 2rem;

}
 
header nav ul li {
    list-style: none;
    display: flex;
    
}

header nav ul li a {
  text-decoration: none;
  color: rgb(0, 13, 255);
  
}

.foto {
    
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 50px;
  
}

header div{
    display: flex;
    gap: 1rem;
}

header nav ul li a.active,
header nav ul li a:hover{
    color: rgb(99, 10, 151);
}

.Banner {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    
    
    } 
 